# Dependencies
node_modules/

# Build output
.vercel
.next

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Temp files
*.tmp
*.temp
